{% extends 'base.html.twig' %}

{% block title %}Select Excel File{% endblock %}

{% block body %}
    <h1>Select Excel File to Update</h1>
    {{ form_start(form) }}
        {{ form_row(form.fileName) }}
        <button type="submit">Select File</button>
    {{ form_end(form) }}
{% endblock %}
