{% extends 'base.html.twig' %}

{% block title %}Omika
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Omika</h1>
		<h2>I love you my darling</h2>
       <img src="https://enseigner.tv5monde.com/sites/enseigner/files/styles/max_650x650/public/2020-11/field_media_image-8781-istock-923173922.jpg?itok=C_qlU_FI" alt="hello">

	</div>
{% endblock %}

