<footer class="container-fluid py-4 border-top text-center">
	<i class="bi bi-balloon-heart text-secondary"></i>
	<span class="text-muted">&copy;
		{{ "now"|date("Y") }}
		Omika<i class="bi bi-balloon-heart text-secondary"></i>
	</span>
</footer>
