<!DOCTYPE html>
<html lang="en">
	{% include 'App_partiel/_head.html.twig' %}

	<body>
		{% include 'App_partiel/_header.html.twig' %}
		<main role="main" class="container"> {% block body %}{% endblock %}
			</main>
			{% include 'App_body/inventory/inventory/archive_modal.html.twig' %}
			{% include 'App_partiel/_footer.html.twig' %}
			{% include 'App_partiel/_script.html.twig' %}
		</body>

	</html>
